body, html {
	height: 100%;
}
 
.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("/images/doctor.jpg");
	height: 90%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

/*start css for doctor cart*/
.box {
	width: 1000px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 15px;
	margin: 0 auto;
}

.card {
	float: left;
	width: 128px;
	height: 244px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
	width: 170px;
	margin: 13px;
}

.card:before, .card:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background: #fff;
	transition: 0.5s;
	z-index: -1;
}

.card:hover:before {
	transform: rotate(20deg);
	box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.card:hover:after {
	transform: rotate(10deg);
	box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.card .imgBx {
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background: #222;
	transition: 0.5s;
	z-index: 1;
}

.card:hover .imgBx {
	bottom: 80px;
}

.card .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card .details {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	height: 60px;
	text-align: center;
}

.card .details h2 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 14px;
	color: #777;
	text-transform: uppercase;
}

.card .details h2 span {
	font-weight: 400;
	font-size: 16px;
	color: #f38695;
	display: block;
	margin-top: 5px;
}

/*end css for doctor card*/
.btn-toolbar {
	margin: 20px
}

.table {
	margin: 40px auto
}

.complain {
	margin: 20px
}

.confirm {
	margin: 45px
}

.doctorname {
	font-size: 15px;
}

.profile-image {
	height: 344px;
	width: 276px;
	margin: 31px;
}

.info {
	margin-top: 31spx
}

.profileName {
	font-size: 24px;
	margin-top: 25px;
	font-stretch: initial;
	font-family: initial;
	font-weight: bold;
}

.profileS {
	font-size: 18px;
	font-family: initial;
}

.cardm{
	width:283px
}
.cardn{
	width:177px;
}

.table-head{
	font-size: 15px;
	font-family: initial;
	font-variant-caps: titling-caps;
}

.mb.card-body{
    text-align: center;
}
.mb.btn{
    border-radius: 0;
    box-shadow: 0.5px 1px 2px hsla(0, 0%, 20%, 1);
}
.mb.btn:hover{
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px hsla(0, 0%, 20%, 1);
}
.mb.card{
    border-radius: 0px / 0px;
    overflow: hidden;
    box-shadow: 0.5px 1px 2px hsla(0, 0%, 20%, 1);
}
.card-title{
	margin-bottom: -0.25rem;
color:black;
font-size: 16px;
}
.mb{
	font-size:14px
}
td{
	font-size:15px;
	font-family:revert
}
#contact_form{
	margin:73px;
	
}
.form-group{
 
	margin-top:30px
}
.intro{
	margin-top:52px;
	margin-left:139px
}
.img-intro{
	margin:5px
}
.intro-header{
	font-size:22px;
	margin-left:12px;
	margin-top:8px;
	color: blue
}
fieldset {
    background: 
    #e6e6d3;
}