<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<body>
<head th:replace="common/header :: common-navbar" />
<div class="container">

	<form class="well form-horizontal border" th:action="@{/appointment/confirm}" method="post"
		id="contact_form">
		<fieldset>

			<div class="form-group">
				<label class="col-md-4 control-label">Appointment Time</label>
				<div class="col-md-8 selectContainer">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-list"></i></span> <select name="appintmentTime" th:value="${appointment.appintmentTime}"
							class="form-control selectpicker">
							<option th:each="worktime : ${worktimes}"
								
								th:text="${worktime.day} + ' from ' +  ${worktime.dtartDate} + ' to ' + ${worktime.endDate}"></option>
						</select>
					</div>
				
				</div>

				<div class="col">
					<div class="form-group">
						<label for="exampleFormControlTextarea1">Enter your
							complain</label>
						<textarea name = "breifComplain" th:value="${appointment.breifComplain}"  class="col-md-8 form-control"
							id="exampleFormControlTextarea1" rows="3"></textarea>
					</div>
				</div>
		 
			</div>

			<!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label"></label>
				<div class="col-md-4">
					<br>
					<button type="submit" class="btn btn-warning confirm">
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspConfirm
						<span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					</button>
				</div>
			</div>

		</fieldset>
	</form>
</div>
</div>
<!-- /.container -->
</html>
