<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<body>
<head th:replace="common/header :: common-navbar" />
<div class="container">

	<form class="well form-horizontal border"
		th:action="@{/appointment/appointmentInfo}" method="get"
		id="contact_form">
		<fieldset>
			<div class="form-group">
				<label class="col-md-4 control-label">Doctor Name</label>
				<div class="col-md-4 selectContainer">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-list"></i></span> <select name="doctorId"
							th:value="${doctorId}" class="form-control selectpicker">

							<option th:each="doctor : ${doctors}"
								th:value="${doctor.doctorId}" th:text="${doctor.name}"></option>

						</select>
					</div>
					
				</div>
				
			</div>

			<!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label"></label>
				<div class="col-md-4">
					<br>
					<button type="submit" class="btn btn-warning">
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNext <span
							class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					</button>
				</div>
			</div>

		</fieldset>
	</form>
</div>
</div>
<!-- /.container -->
</html>
