
<head th:fragment="common-header">
<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />


<!-- Custom CSS -->
<!--<link href="css/scrolling-nav.css" rel="stylesheet" />-->

<link href="/css/custom.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

 
</head>




<!-- header -->
<div th:fragment="common-navbar">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/doctor/">Doctors</a></li>
				<li class="nav-item"><a class="nav-link" href="/appointment/">Book
						Appointment</a></li>
				<li class="nav-item"><a class="nav-link" href="/appointment/all/">All
						Appointment</a></li>
			 

			</ul>
		</div>
	</nav>

</div>