<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<body>
<head th:replace="common/header :: common-navbar" />
<table class="container table table-striped table-dart">
	<thead class="table-head">
		<tr>

			<th scope="col">patient name</th>
			<th scope="col">specialize</th>
			<th scope="col">doctor</th>
			<th scope="col">Time</th>
			<th scope="col">Complain</th>
		</tr>
	</thead>
	<tbody th:each="appointment : ${appointments}">
		<tr>

			<td th:text="${appointment.patient.name}"></td>
			<td th:text="${appointment.doctor.specialize}"></td>
			<td th:text="${appointment.doctor.name}"></td>
			<td th:text="${appointment.appintmentTime}"></td>
			<td th:text="${appointment.breifComplain}"></td>

		</tr>

	</tbody>
</table>

</body>

</html>