<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<body>
<head th:replace="common/header :: common-navbar" />
<div class="btn-toolbar" role="toolbar"
	aria-label="Toolbar with button groups">
	<div class="btn-group mr-2" role="group" aria-label="First group">
		<button type="button" class="btn btn-secondary"
			onclick="location.href='/doctor/'" value="Register">all</button>
		<button type="button" class="btn btn-secondary"
			onclick="location.href='/doctor/opthalmology'" value="Register">ophthalmology</button>
		<button type="button" class="btn btn-secondary"
			onclick="location.href='/doctor/pediatrics'" value="Register">pediatrics</button>
		<button type="button" class="btn btn-secondary"
			onclick="location.href='/doctor/Ear,nose and throad'"
			value="Register">Ear,nose and throad</button>
		<button type="button" class="btn btn-secondary"
			onclick="location.href='/doctor/Internal medecine'" value="Register">Internal
			medecine</button>
	</div>


</div>
<!--
<div class="card">
			<div class="imgBx">
				<img
					src="https://images.unsplash.com/photo-1549417229-aa67d3263c09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
					alt="images">
			</div>
			<div class="details">
				<h2 class="doctorname" th:text="${doctor.name}" />
				<h2 class="doctorspecialize" th:text="${doctor.specialize}" />

			</div>
		</div>
		
  -->
<div th:each="doctor : ${doctors}">
	<a th:href="@{'profile/' + ${doctor.doctorId}}">
		<div class="card">
              <img class="card-img-top" src="http://www.placehold.it/286x180" alt="Card image cap">
              <div class="card-body mb">
                <h5 class="card-title" th:text="${doctor.name}"></h5>
                <p class="card-text" th:text="${doctor.specialize}"></p>
                <button type="button" class="btn btn-primary mb">View Profile</button>
              </div>
            </div>
		
	</a>
</div>



</body>
</html>