<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<body>
<head th:replace="common/header :: common-navbar" />
<div class="container">
	<div class="row">
		<div class="col col-md-4">
			<div>
				<img class="profile-image" src="http://www.placehold.it/286x180"
					alt="images">
			</div>

		</div>

		<div class="col col-md-8 info">
			<div th:text="${doctor.name}" class="profileName"></div>
			<p th:text="${doctor.specialize}" class="profileS"></p>
			<span>No of appointments : </span><span
				th:text="${doctor.appointments.size()}" />
			<table class="container table table-striped table-dart">
				<thead class="table-head">
					<tr>

						<th scope="col">patient name</th>
						<th scope="col">Time</th>
						<th scope="col">Complain</th>
					</tr>
				</thead>
				<tbody th:each="appointment : ${appointments}">
					<tr>
						<td th:text="${appointment.patient.name}"></td>
						<td th:text="${appointment.appintmentTime}"></td>
						<td th:text="${appointment.breifComplain}"></td>

					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>
</body>